<!DOCTYPE html>
<html lang="ja">
<head>
</head>
<body>
  <h1>monotter</h1>
  <form action="/create" method="post">
    <input type="text" name="text">
    <button type="submit">つぶやく</button>
  </form>
  <p>総つぶやき数：<%= @tweets.count %></p>
  <% @tweets.each do |t| %>
    <p><%= t.created_at %>：<%= t.text %></p>
    <form action="/delete/<%= t.id %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit">削除</button>
    </form>
  <% end %>
</body>
</html>
